@import "../../style/vars.scss";

.container {
  @include container;
}
.main {
  &__img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .main {
    &__img {
      position: relative;
      overflow-x: hidden;
      margin-bottom: 60px;
      min-width: 600px;
      height: auto;
      float: left;
    }
  }
}
