@import "../../../../style/vars.scss";

.form {
  margin-right: 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  &__content {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-weight: $ws;
    font-size: $texts;
    line-height: $textslh;
  }
  &__link {
    &_enter {
      width: 35%;
      border-bottom: 3px solid $bcfooter;
      &__text {
        color: $bcfooter;
      }
    }
    &_register {
      width: 60%;
      border-bottom: 3px solid $border;
      &__text {
        color: $border;
      }
    }
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &_enter {
    height: 59px;
    background-color: $button2;
    color: $text2;
    font-weight: $wm;
    font-size: $textlm;
    line-height: $textlmlh;
  }
  &_linkRestore {
    padding: 10px;
    text-align: center;
    &__text {
      font-weight: $ws;
      font-size: $textxs;
      line-height: $textxslh;
      color: $button2;
    }
  }
}

@media screen and (max-width: 1150px){
  .form {
    margin: 80px auto 0;
    max-width: 335px;
  }
  .buttons{
    &_enter {
      margin: 0 auto;
      width: 305px;
    }
  }
}